html {
  height: 100%;
  width: 100%;
}

/* banner rules */
.banner {
  background-color: #3895E2;
  padding: 10px;
  text-align: center;
  font-family: chaucer, "Times New Roman";
  margin-bottom: 25px;
}

/* aligning the main text to center */
main {
  text-align: center;
}

li {
  text-align: left;
}

h2 {
  font-family: "Comic Sans MS";
  color: 
}

/*setting the paragraph's font size */
p {
  font-size: 15px;
}

article {
  text-align: center;
}

a:visited {
  color: green;
}
/*changing the color of the link when the cursor hovers over it*/
a:hover {
  color: red;
}

a:link {
  color: blue;
}

img.center {
 display: block;
    margin-left: auto;
    margin-right: auto;
}

