html {
  height: 100%;
  width: 100%;
}

.banner {
  background-color: #3895E2;
  padding: 10px;
  text-align: center;
  font-family: chaucer, "Times New Roman";
}

main {
  text-align: center;
}

li {
  text-align: left;
}

h2 {
  font-family: "Comic Sans MS";
  color: 
}

p {
  font-size: 15px;
}

article {
  text-align: center;
}
